:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(224, 222, 214);
  background-color: rgb(118,130,95);
}

body {
  min-width: 320px;
  max-height: 100vh;
}

